[submodule "chrome/content/lib/forge"]
	path = chrome/content/lib/forge
	url = git://github.com/stesie/forge.git
[submodule "chrome/content/lib/gzip-js"]
	path = chrome/content/lib/gzip-js
	url = git://github.com/stesie/gzip-js.git
[submodule "chrome/content/lib/jsxml"]
	path = chrome/content/lib/jsxml
	url = git://github.com/Greendrake/jsxml.git
