[Desktop Entry]
Categories=Finance;Office;
Name=Geierlein
GenericName=Geierlein
Comment=freier Elster-Client für Linux
Type=Application
Exec=xgeierlein
Icon=geierlein
Terminal=false
