[Desktop Entry]
Categories=Finance;Office;
Name=Geierlein
Name[de]=Geierlein
GenericName=Elster client
GenericName[de]=Elster-Client
Comment=Send VAT declarations to Germany's fiscal authorities
Comment[de]=Umsatzsteuervoranmeldungen an das Finanzamt übertragen
Type=Application
Exec=xgeierlein
Icon=geierlein
Terminal=false
