@CHARSET "UTF-8";
body.native {
    padding-top: 60px;
}

body.xulapp {
    padding-top: 18px;
}

body.xulapp #nav,
body.native .hide-native {
    display: none;
}

.navbar .brand {
    padding-top: 2px;
    padding-bottom: 0;
}

#protocol {
    width: 800px;
    margin-left: -400px;
}

#protocol iframe {
    height: 370px;
    width: 100%;
    border: 0;
}

a.left {
    float: left;
}

#logo {
    position: absolute;
    right: 23px;
}

/* Use fixed size for .add-on, to make sure it fits into a div.span2
   together with a input.span2. */
.input-append .add-on, .input-prepend .add-on {
    width: 20px;
    min-width: 20px;
}

.input-append input.span2 {
    width: 99px;
}

input.span2 {
    width: 109px;
    margin-left: 22px;
}

.input-prepend input.span2 {
    margin-left: 0;
    border-bottom-left-radius: 3px;
}

.input-append.input-prepend input.span2 {
    width: 79px;
}

.input-prepend .kz {
    font-size: 10px;
    line-height: 100%;
    padding: 1px 0 0;
    vertical-align: top;
    height: 12px;
}

/* Remove padding from accordion inner container, since we put right-aligned
   labels in there, which otherwise don't align with those not wrapped in an
   accordion. */
.accordion-inner {
    padding-left: 0;
}

.accordion-heading h4 {
    margin-top: 0;
}

/* Redefine width of .control-label to match a span4,
  define .control-label.span6 to match a span6. */
.form-horizontal .control-label.span4 {
    width: 260px;
}
.form-horizontal .control-label.span6 {
    width: 420px;
}

.form-horizontal .buttons {
    width: 600px;
    text-align: right;
}

.form-horizontal .form-actions .buttons {
    width: 440px;
}

.schnell {
    display: none;
}

h2 + div.control-group, h3 + div.control-group, h4 + div.control-group {
    border-top: 1px solid #eee;
    padding-top: 23px;
}

h2 {
    margin-top: 40px;
}

h3 {
    margin-top: 30px;
}

h2 + h3 {
    margin-top: 10px;
}

h4 {
    margin-top: 20px;
}

h3 + h4 {
    margin-top: 10px;
}
