@import url(chrome://global/skin/);  

menu.hideDevel {
    display: none;
}

toolbarbutton {
    -moz-box-orient: vertical;
    min-width: 72px;
}

#new {
    list-style-image: url(chrome://geierlein/content/img/toolbar-new.png);
}

#open {
    list-style-image: url(chrome://geierlein/content/img/toolbar-open.png);
}

#save {
    list-style-image: url(chrome://geierlein/content/img/toolbar-save.png);
}

#send {
    list-style-image: url(chrome://geierlein/content/img/toolbar-convert.png);

}

#taxbird {
    -moz-box-align: center;
}

#taxbird image {
    list-style-image: url(chrome://geierlein/content/img/taxbird-logo-1.png);
    width: 130px;
    height: 36px;
}
